* {
    font-family: 'Montserrat', sans-serif;
    color:#FF6060;
    
}
body {
    margin: 0;
    max-width: 1500px;
}
.main {
    margin: 30px 70px 0px 70px;
}
.logo {
    margin-left : 0;
    width: 80%;
    
}
.banner {
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    list-style-type: none;
}
a {
    text-decoration: none;
    font-size: 20px;
}
.titre-h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../assets/IMG.png");
    background-size: cover;
    background-position: center;
    padding: 70px;
    font-size: 50px;
    text-align: center;
    font-weight:400;
    color: white;
    border-radius: 20px;
}
.span-h1 {
    color: white;
}

.card {
    position: relative;
    width: 100%;
    height: 17em;
    border-radius: 10px;
    
}
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(7,7,7,1) 0%, rgba(246,246,246,1) 100%);
    border-radius: 10px;
    z-index: 1;
    opacity: 0.4;
    transition:  all 1s ease;
}
.card:hover::before {
    transition: all 1s ease-in-out;
    opacity: 0.3;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,96,96,1) 25%, rgba(255,255,255,1) 100%);
}
.card img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 17em;
    object-fit: cover;
    border-radius : 10px;
    filter: contrast(1.3);
  }

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 40px;
    gap: 60px;
}

  .card-name h2 {
    position: absolute;
    bottom: 5px;
    z-index: 3;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 10px;
    margin: 0;
  }
footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 40px 0 0 0;
    padding: 20px;
}
.logo-footer {
    padding-top: 50px;
    margin-bottom: 50px;
}
.footer p {
    color: white;
}
.active {
    text-decoration: underline;
}
.image-about {
    margin-top: 50px;
}
.image-about img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(80%);
}

.collapse-button {
    background-color:#FF6060;
    color: white;
    font-size: 20px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    height: 55px;

  }
  
  .collapse-button:hover {
    filter: brightness(150%);
    transition: filter 0.5s ease;
  }
  
  .collapse-button.open {
    
  }
  
  .collapse-icon {
    margin-top: -10px;
    margin-left: 10px;
    font-size: 20px;
    transition: transform 0.5s ease-out;
    color:white;
    transform: rotate(0deg);
    width: 5%;
    filter: brightness(0) invert(1);
  }
  
  .collapse-button.open .collapse-icon {
    transform: rotate(-90deg);
  }
  
  .collapse-content {
    background-color:#F7F7F7;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    width: 100%;
    border-radius: 10px;
  }
  
  .collapse-content.open {
    max-height: 500px;
    width: 100%;
    transition: max-height 1s ease-in;
  }
  .collapse-content p{
    padding: 10px;
  }
  .collapse-about-container {
    margin-top: 50px;
    margin-bottom: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    margin-left: 10%;
    gap: 10%;
  }

  .msg-erreur {
    display: flex;
    flex-direction: column;
    margin: 100px 100px 200px 100px;
  }
  .msg-erreur h1 {
    text-align: center;
    font-size: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .msg-erreur p {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
  }

.msg-erreur a {
text-align: center;
text-decoration: underline;
}
.fiche-logement-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.infos-logement-container {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    height: 100px;
    gap: 10px;
}
.title-location {
    display: flex;
    flex-direction: column;
    
}
.title-location h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 400;
}
.tags {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 10px;
    padding-left: 0;
    margin-top: 30px;
}
.tags li {
    color: white;
    background-color: #FF6060;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 16px; 

}
.host-star-container {
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    margin-bottom: 50px;
}
.host-picture {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap: 10px;
}
.host-picture p{
    font-size: 18px;
    max-width: 90px;
    text-align: end;
}
.photo-host {
    border-radius: 50px;
    object-fit: cover;
    height: 70%;
}

.collapse-fiche {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    gap: 50px;
    margin-bottom: 300px;
    height: 100px;
}
.collapse-fiche ul {
    list-style-type: none;
    padding: 10px;
}
.collapse-fiche p{
    padding: 10px;
}

.collapse-fiche .collapse-icon{
    margin-top: -10px;
    width: 7%;
}
.stars {
    display: flex;
    justify-content: end;
  }
  .etoile-pleine {
    width: 25px;
    height: 25px;
    padding: 3px;
  }
  
  
  .etoile-vide {
    width: 25px;
    height: 25px;
    padding: 3px;
  }
    
  
.image-solo{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.page-logement {
    
}
/*responsive*/

@media screen and (max-width: 1200px) {
    .main {
        margin: 30px 40px 0px 40px;
    }
    .titre-h1 {
        font-size: 38px;
    }
    .card-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
    .carousel-container {
        margin-left: 27px;
        margin-right: 27px;
    }
    .fiche-logement-container {
        margin-bottom: 30px;
    }
    .infos-logement-container {
        gap: 30px;
    }
    .title-location h1 {
        font-size: 28px;
    }
    .host-star-container {
        gap: 15px;
    }
    .collapse-fiche .collapse-icon {
        margin-top: -8px;
        width: 8%;
    }
    }
@media screen and (max-width: 1035px){
    .infos-logement-container {
        gap: 0px;
    }
    .host-star-container {
        gap: 20px;
    }
    .collapse-fiche .collapse-icon {
        margin-top: -8px;
        width: 10%;
    }
    .collapse-about-container {
        width: 100%;
        margin-left: 0;
    }
    .collapse-about-container .collapse-icon {
        margin-top: -6px;
    }
}
@media screen and (max-width: 900px){
    .collapse-fiche .collapse-icon {
        
        width: 12%;
    }
}
@media screen and (max-width: 779px) {
    .main {
        margin: 20px 20px 0px 20px;
    }
    .navigation {
        gap: 20px;
        padding-inline-start: 0px;
    }
    .navigation li {
        font-size: 16px;
        text-transform:uppercase;
    }
    .logo-container {
        max-width: 180px;
    }
    .titre-h1 {
        position: relative;
        font-size: 30px;
        text-align: start;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 45px 70px 70px 50px;
        border-radius: 10px;
      }
    .span-h1 {
        position: absolute;
        left: 50px;
        top: 75px;
    }
    .card-container {
        display: flex;
        flex-direction:column;
        gap: 20px;
        background-color: white;
        padding: 0;
    }
    .carousel-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .counter {
        display: none;
    }
    .fiche-logement-container {
        display:flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .infos-logement-container {
        margin-bottom: 50px;
    }
    .host-star-container {
        position: relative;
        justify-content: flex-start;
        margin-top: 10px;
    }
    .host-picture p{
        margin-top: 5px;
    }
    .stars {
        justify-content: flex-start;
        position: absolute;
        top: 10px;
    }
    .tags {
        margin-top: 10px;
    }
    .tags li {
        border-radius: 15px;
        font-size: 14px;
        padding: 5px 10px;
    }
    .photo-host {
        border-radius: 70px;
        height: 60px;
    }
    .etoile-pleine {
        width: 20px;
        height: 20px;
        padding: 2px;
      }
      
      
      .etoile-vide {
        width: 20px;
        height: 20px;
        padding: 2px;
      }
    .title-location h1 {
        font-size: 25px;
    }
    .collapse-fiche {
        display: flex;
        flex-direction: column;
    }
    .collapse-button {
        font-size: 20px;
    }
    .collapse-fiche .collapse-icon {
        width: 6%;
        margin-top: -8px;
    }
    .collapse-about-container .collapse-icon {
        margin-top: -4px;
        width: 7%;
    }

}

@media screen and (max-width: 550px) {
    .main {
        margin: 15px 15px 0 15px;
    }
    .navigation {
        gap: 10px;
        margin-top: 12px;
    }
    .navigation li {
        font-size: 14px;
    }
    .logo-container {
        max-width: 150px;
    }
    .banner {
        gap: 10px;
    }
    .titre-h1 {
        padding-top: 40px;
        font-size: 30px;
        padding-left: 25px;
    }
    .span-h1 {
        top: 70px;
        left: 25px;
    }
    .carousel-container {
        margin-left: 15px;
        margin-right: 15px;
        height: 300px;
    }
    .image-slide {
        height: 300px;
    }
    .tags li {
        border-radius: 10px;
        font-size: 12px;
        padding: 5px 10px;
    }
    .fiche-logement-container {
        margin-top: 20px;
    }
    .collapse-fiche .collapse-icon {
        margin-top: -8px;
        width: 9%;
    }
    .collapse-about-container .collapse-icon {
        margin-top: -5px;
        width: 9%;
    }

}

@media screen and (max-width: 400px) {
    .navigation li {
        font-size: 13px;
    }
    .logo-container {
        max-width: 130px;
    }
    .titre-h1 {
        font-size: 25px;
        padding-left: 20px;
    }
    .span-h1 {
        left: 20px;
    }
    .card {
        height: 15em;
    }
    .card img {
        height: 15em;
    }
    .tags li {
        border-radius: 7px;
        font-size: 12px;
        padding: 3px 5px;
    }
    .carousel-container {
        margin-left: 10px;
        margin-right: 10px;
        height: 260px;
    }
    .image-slide {
        height: 260px;
    }
    .etoile-pleine {
        width: 16px;
        height: 16px;
        padding: 2px;
      }
      
      
      .etoile-vide {
        width: 16px;
        height: 16px;
        padding: 2px;
      }
      .title-location h1 {
        font-size: 22px;
      }
      .collapse-fiche .collapse-icon {
        margin-top: -8px;
        width: 12%;
    }
    .collapse-about-container .collapse-icon {
        margin-top: -5px;
        width: 12%;
    }
}


  